@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* * {
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
} */

body{
    background-color: whitesmoke;
}

.main_content {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;

    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: 24px;
    color: #282C2F;
    margin: 1%;
}

/* TABLE */

.table{
    width: 100%;
    border: 1px solid black;
}

.table th {
    border: 1px solid black;
    text-align: center;
    background-color: #282C2F;
    color: white;
    padding: 1.5vw;
    font-size: 18px;
}

.table td{
    border: 1px solid black;
    text-align: center;
    background-color: #31373b;
    color: white;
    padding: 1.5vw;
}

.no_bookings{
    margin: auto;
    padding: 20px;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer {
    margin-top: 10%;
}