/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

.header {
  background-color: #282c2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1%; /*top, bottom - 30px, right, left - 10% */
}

/* LOGO */
.logo {
  height: 40px;
}

/* NAVIGATION MENU */
.nav_menu {
  list-style: none;
}

.nav_menu li {
  display: inline-block; /*Displaying in horizontal line*/
  padding: 0px 10px; /*top, bottom = 0px, left, right = 10px */
}

.nav_menu li a {
  padding: 10px;
  border-radius: 0.1em;
}

/* While mouse is on it*/
.nav_menu li a:hover {
  background-color: #2a526a;
}

/* Log in/log out button */
.login_button {
  padding: 10px;
  cursor: pointer;

  border-color: whitesmoke;
  border-radius: 0.2em;
  border-width: 1px;

  background-color: #282c2f;
}

.login_button:hover {
  background-color: #2a526a;
}

/* HAMBURGER */
.hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

/* ----- RESPONSIVNESS ----- */
@media screen and (max-width: 600px) {
  /* HEADER */
  /* hambuerger menu */
  .nav_menu {
    display: none;
    background-origin: red;
  }
  .login_button {
    border: none;
    padding: 0;
  }
}
